.menuc i{
    margin-right: 10px;
    font-size: 20px;
    color: #d2b862; 
}

.menuc i:hover{
    color: #004e79; 
}

.menu{
    background-color: #ffffff ;
    height: 80px;
}

.cub span{
    color: #d2b862;
    font-size: 30px;
}

  
.menu img {
    width: 60px;
    margin-left: 50px;
}
  
.nav-item .nav-link {
    color: #004e79;
    font-weight: 600;
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    margin-left: 20px;   
}

.dropdown-menu{
    background-color:  #ffffff !important;
    border-radius: 10px !important;
    padding: 0px !important;
}

.tec a{
    background-color:  #ffffff !important;
    color: #004e79 !important;
    font-weight: 500 !important;
    border-radius: 10px !important;
}
  
.tec a:hover{
    color: #ffffff !important;
    background-color: #d7c983 !important;

}
  
@media(max-width:1000px){
    .menu{
        height: auto;
        width: 100%;
        
    }
    #navbarSupportedContent ul{
        align-items: flex-start !important;
        margin-left: 50px;
        margin-top: 10px !important;
    }
    .nav-item{
        height: 50px !important;

    }
    
    .menuc{
        display: none;
    }
    .nab{
        width: 50% !important;
    }
    .tec a{
        background-color: #004e79 !important;
        color: #d2b862 !important;
    } 

}

@media(max-width:500px){
    .menu img {
        margin-left: 0px;
    }

    #navbarSupportedContent ul{
        align-items: flex-start !important;
        margin-left: 5px;

    }
}